{% load static %}
<!DOCTYPE html>
<html>
<title>Empresa USTA TELECO</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'app/css/w3.css' %}">
<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
<link rel="stylesheet" href="{% static 'app/css/button.css' %}">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/f6bd73bd51.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

<body class="background_all">

  <!-- Page Container -->
  <div class="margen_izq margen_arriba" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="padding w3-row-padding">

      <!-- Left Column -->
      <div class="columna_derecha w3-third">

        <div class="background_contendores sombreado_contenedores ">
          <div class="posicion_nombre w3-display-container">
            <img src="{% static 'app/img/avatar4.gif' %}" style="width:100%" alt="Avatar">
            <div class="padding_cotenedor w3-container " style="color: black;">
              <h2>Starbucks Cofee Company</h2>
            </div>
          </div>
          <div class="padding_cotenedor w3-container">
            <p><i class="far fa-id-badge fa-fw margen_derecha_iconos tamaño_icono color_iconos"></i>Empresa</p>
            <p><i
                class="far fa-paper-plane margen_derecha_iconos tamaño_icono color_iconos"></i>starbuckscompany@gmail.com

            </p>

            <hr>

            <p class="tamaño_icono"><b><i class="fas fa-walking margen_derecha_iconos color_iconos"></i>Opciones</b>
            </p>
            <div>
               <a href="{% url 'usuarios:registrar_convocatoria' %}"> <button class="custom-btn btn-1">Crear una
                  Convocatoria </button> </a>
            <a href="{% url 'usuarios:lista_convocatorias' %}"> <button class="custom-btn btn-1">Lista
                  de
                  Convocatorias
                </button> </a>
              <a href="/index/index.html"> <button class="custom-btn btn-1">Editar Datos </button> </a>


              <a href="{% url 'usuarios:index' %}"> <button class="custom-btn btn-1">Cerrar Sesión </button> </a>

              <!-- End Left Column -->
            </div>
          </div>
        </div><br>
      </div>

      <!-- Right Column -->
      <div class="margen_derecho">

        <div class=" padding_cotenedor sombreado_contenedore_derecho background_contendores">
          <h2 class=" padding_titulo"><i
              class="fas fa-book-open margen_derecha_iconos tamaño_icono_grande color_iconos"></i>Descripción</h2>
          <div class="padding_cotenedor">
            <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit
              sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.
            </p>
            <hr>
          </div>

          <h2 class=" padding_titulo"><i
              class="fas fa-location-arrow margen_derecha_iconos tamaño_icono_grande color_iconos"></i>Dirección</h2>
          <div class="padding_cotenedor">
            <p>4517 Washington Ave. Manchester, Kentucky 39495</p>

            <hr>
          </div>

          <h2 class=" padding_titulo"><i
              class="fas fa-phone margen_derecha_iconos tamaño_icono_grande color_iconos"></i>Telefono</h2>
          <div class="padding_cotenedor">
            <p>(406) 555-0120</p>
            <hr>
          </div>

        </div>

      </div>

      <!-- End Right Column -->
    </div>

    <!-- End Grid -->
  </div>

  <!-- End Page Container -->
  </div>


</body>

</html>