{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Editar Perfil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <link rel="stylesheet" href="{% static 'app/css/form.css' %}" />
</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="wrapper">
        <form action="{% url 'usuarios:post_actualizar_perfil' %}" method="post">
            {% csrf_token %}
            <h1>Editar Perfil</h1>
            <h5>
                En este formulario, usted podra actualizar su perfil
            </h5>

            <hr class="sep" />
            <div class="group">
                <input type="email" required="required" name="email"><span class="highlight"></span><span
                    class="bar"></span>
                <label>Email</label>
            </div>
            <div class="group2">
                <input type="text" required="required" name="fortalezas" /><span class="highlight"></span><span
                    class="bar"></span>
                <label>Fortalezas</label>
            </div>
            <div class="group2">
                <input type="text" required="required" name="herramientas" /><span class="highlight"></span><span
                    class="bar"></span>
                <label>Herramientas</label>
            </div>

            <div class="btn-box">
                <button class="btn btn-submit" type="submit">Actualizar</button>

                <a href="{% url 'usuarios:estudiante' %}"><button class="btn btn-cancel" type="button">cancelar</button>
                </a>
            </div>
        </form>
    </div>
    <!-- partial -->
    <script src="./script.js"></script>
</body>

</html>