{% load static %}
<!DOCTYPE html>
<html>
<title>Estudiante USTA TELECO</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'app/css/w3.css' %}">
<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
<link rel="stylesheet" href="{% static 'app/css/button.css' %}">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/f6bd73bd51.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

<body class="background_all">

  <!-- Page Container -->
  <div class="w3-content margen_izq margen_arriba" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="padding w3-row-padding">

      <!-- Left Column -->
      <div class="columna_derecha w3-third">

        <div class="background_contendores sombreado_contenedores w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container posicion_nombre w3-display-container">
            <img src="{% static 'app/img/zootopia4.gif' %}" style="width:100%" alt="Avatar">
            <div class="padding_cotenedor w3-container " style="color: black;">
              <h2>Jenny Wilson</h2>
            </div>
          </div>
          <div class="padding_cotenedor w3-container">
            <p><i class="far fa-id-badge fa-fw margen_derecha_iconos tamaño_icono color_iconos"></i>Estudiante</p>
            <p>
     

              <i
                class="far fa-paper-plane margen_derecha_iconos tamaño_icono color_iconos"></i> 


            </p>

            <hr>

            <p class="tamaño_icono"><b><i class="fas fa-walking margen_derecha_iconos color_iconos"></i>Consultar</b>
            </p>
            <div>
              <a href="{% url 'usuarios:convocatorias_abiertas' %}"> <button class="custom-btn btn-1">Convocatorias
                  Abiertas </button> </a>
              <a href="/estudiante/mis_postulaciones/postulaciones.html"> <button class="custom-btn btn-1">Postulaciones
                </button> </a>
              <a href="/estudiante/historico_postulaciones/historico_postulaciones.html"> <button
                  class="custom-btn btn-1">Historico de
                  Postulaciones </button> </a>
              <a href="{% url 'usuarios:actualizar_perfil' %}"> <button class="custom-btn btn-1">Editar Datos</button>
              </a>


              <a href="{% url 'usuarios:index' %}"><button class="custom-btn btn-1">Cerrar Sesión </button> </a>

              <!-- End Left Column -->
            </div>
          </div>
        </div><br>
      </div>

      <!-- Right Column -->
      <div class="margen_derecho">

        <div class=" padding_cotenedor sombreado_contenedore_derecho background_contendores">
          <h2 class=" padding_titulo"><i
              class="fas fa-hand-rock margen_derecha_iconos tamaño_icono_grande color_iconos"></i>Fortalezas</h2>
          <div class="padding_cotenedor">
            <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit
              sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.
            </p>
            <p><input type="textarea" name="fortalezas">
            </p>
            <hr>
          </div>

          <h2 class=" padding_titulo"><i
              class="fas fa-toolbox margen_derecha_iconos tamaño_icono_grande color_iconos"></i>Herramientas</h2>
          <div class="padding_cotenedor">
            <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit
              sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.
            </p>
            <p><input type="textarea" name="herramientas">
            </p>
            <hr>
          </div>


        </div>

      </div>

      <!-- End Right Column -->
    </div>

    <!-- End Grid -->
  </div>

  <!-- End Page Container -->
  </div>

  </form </body> </html>