{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Crear Convocatoria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <link rel="stylesheet" href="{% static 'app/css/form.css' %}" />
</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="wrapper">
        <form action="{% url 'usuarios:post_registro_convocatoria' %}" method="post">
            {% csrf_token %}
            <h1>Crear Convocatoria</h1>
            <h5>
                En este formulario, usted como empresa podrá realizar la convocatoria
                para pasantías en su empresa
            </h5>

            <hr class="sep" />
            <div class="group">
                <input type="text" required="required" name="nombre" /><span class="highlight"></span><span
                    class="bar"></span>
                <label>Nombre</label>
            </div>
            <div class="group2">
                <input type="date" required="required" name="fecha_inicial" /><span class="highlight"></span><span
                    class="bar"></span>
                <label>Fecha Inicial</label>
            </div>
            <div class="group2">
                <input type="date" required="required" name="fecha_final" /><span class="highlight"></span><span
                    class="bar"></span>
                <label>Fecha Final</label>
            </div>

            <div class="group">
                <textarea type="textarea" rows="5" required="required" name="descripcion"></textarea><span
                    class="highlight"></span><span class="bar"></span>
                <label>Descripción</label>
            </div>
            <div class="btn-box">
                <button class="btn btn-submit" type="submit">Crear</button>

                <a href="{% url 'usuarios:empresa' %}"><button class="btn btn-cancel" type="button">cancelar</button>
                </a>
            </div>
        </form>
    </div>
    <!-- partial -->
    <script src="./script.js"></script>
</body>

</html>