{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Practicas USTA TELECO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <link rel="stylesheet" href="{% static 'app/css/style_index.css' %} " />
    <link rel="stylesheet" href="{% static 'app/css/style_login.css' %} " />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:600" />
</head>

<body>
    <!-- partial:index.partial.html INDEX-->
    <div id="back">
        <div class="backRight"></div>
        <div class="backLeft"></div>
    </div>

    <div id="slideBox">
        <div class="topLayer">
            <div class="right">
                <div class="content">
                    <h1>Practicas Universitarias USTA TELECO</h1>

                    <!-- partial:index.partial.html LOGIN-->
                    <div class="login-wrap">
                        <div class="login-html">
                            <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label for="tab-1"
                                class="tab">Iniciar</label>
                            <input id="tab-2" type="radio" name="tab" class="sign-up" /><label for="tab-2"
                                class="tab">REGISTRAR</label>
                            <div class="login-form">
                                <div class="sign-in-htm">
                                    <div class="group">
                                        <label for="user" class="label">Username</label>
                                        <input id="username" type="text" class="input" />
                                    </div>
                                    <div class="group">
                                        <label for="password" class="label">Password</label>
                                        <input id="pass" type="password" class="input" data-type="password" />
                                    </div>
                                    <div class="group">
                                        <input type="submit" class="button" value="INICIAR SESIÓN" />
                                    </div>
                                    <div class="hr"></div>
                                </div>

                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="sign-up-htm">
                                        <div class="group">
                                            <label for="user" class="label">Username</label>
                                            <input id="user" type="text" class="input" required />
                                        </div>
                                        <div class="group">
                                            <label for="pass" class="label">Password</label>
                                            <input id="pass" type="password" class="input" data-type="password"
                                                required />
                                        </div>

                                        <div class="group">
                                            <label for="razon" class="label">Razón Social</label>
                                            <input id="razon" type="text" class="input" data-type="text" required />
                                        </div>
                                        <div class="group">
                                            <label for="ciudad" class="label">Ciudad</label>
                                            <input id="ciudad" type="text" class="input" data-type="text" required />
                                        </div>
                                        <div class="group">
                                            <label for="Contacto" class="label">Nombre Contacto</label>
                                            <input id="Contacto" type="text" class="input" data-type="text" required />
                                        </div>
                                        <div class="group">
                                            <label for="email" class="label">Email Address</label>
                                            <input id="email" type="email" class="input" required />
                                        </div>
                                        <div class="group">
                                            <input type="submit" class="button" value="REGISTRAR EMPRESA" />
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                    <!-- partial -->
                </div>
            </div>
        </div>
    </div>

    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>

</html>