{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Registro Empresa</title>
  <link rel="stylesheet" href="{% static 'app/css/style_registro_empresa.css' %} " />
</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="panel">
    <div class="state">
      <br /><i class="fa fa-unlock-alt"></i><br />
      <h1>Registrar Empresa</h1>
    </div>
    <form action="{% url 'usuarios:post_registro_empresa' %}" method="post">
      {% csrf_token %}
      <div class="form">
        <input placeholder="USERNAME" type="text" name="username" required/>
        <input placeholder="PASSWORD" type="password" data-type="password" name="password" required />
        <input placeholder="RAZÓN SOCIAL" type="text" name="razon_social" required/>
        <input placeholder="CIUDAD" type="text" name="ciudad" required/>
        <input placeholder="NOMBRE CONTACTO" type="text" name="nombre_contacto" required/>
        <input placeholder="EMAIL ADDRESS" type="text" name="email" required/>
        <button type="submit" class="login">Registrar</button>
      </div>
    </form>
  </div>
  <!-- partial -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- <script src="{% static 'app/js/script_registro_empresa.js' %}"></script> -->
</body>

</html>