{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Datos de Registro</title>
    <link rel="stylesheet" href="{% static 'app/css/table_registro.css' %} " />
    <link rel="stylesheet" href="{% static 'app/css/btn_center_h1.css' %} " />
  </head>

  <body>
    <!-- partial:index.partial.html -->
    <table class="content-table" style="margin: 0 auto">
      <h1>Datos Registrados por la Empresa</h1>

      <thead>
        <tr>
          <th>Username</th>
          <th>Razón Social</th>
          <th>Ciudad</th>
          <th>Nombre Contacto</th>
          <th>Email</th>
          <th>Fecha Creación</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Huawei</td>
          <td>Huawei Colombia</td>
          <td>Bogotá</td>
          <td>Alejandra Hernandez</td>
          <td>Huaweicolombia@gmail.com</td>
          <td>10/02/2020</td>
        </tr>
      </tbody>
    </table>
    <!-- partial -->
    <div class="group" style="text-align: center">
      <a href="/index/index.html"
        ><input
          type="submit"
          class="button"
          value="Aceptar"
          style="position: absolute; top: 20%"
      /></a>
    </div>
  </body>
</html>
