{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Convocatorias Abiertas</title>
  <link rel="stylesheet" href="{% static 'app/css/tablas.css' %}" />
  <link rel="stylesheet" href="{% static 'app/css/button.css' %}" />
  <link rel="stylesheet" href="{% static 'app/css/cerrar_sesión.css' %}" />
  <link rel="stylesheet" href="{% static 'app/estudiante/confirmar.js' %}" />
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://kit.fontawesome.com/f6bd73bd51.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
</head>

<body class="background_all">
  <table id="tabla_convocatorias_Abiertas">
    <h1>LISTA DE CONVOCATORIAS</h1>
    <a href="{% url 'usuarios:empresa' %}">
      <button class="custom-btn4 btn-1 topright">Regresar</button>
    </a>
    <tr>
      <th>Nombre</th>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
      <th>Cantidad de Postulaciones</th>
      <th>Estado</th>
      <th>¿Consultar Postulantes?</th>
      <th>¿Cerrar Convocatoria?</th>
      <th>¿Editar Convocatoria?</th>
    </tr>
    {% for p in lista_convocatorias %}
    <tr>
      <td>{{ p.nombre }}</td>
      <td>{{ p.fecha_inicial }}</td>
      <td>{{ p.fecha_final }}</td>
      <td>{{ p.descripcion }}</td>
      <td>Abierta</td>
      <td>
        <a href="/empresa/lista_conovocatorias/lista_postulantes.html">
          <button class="custom-btn3 btn-1">SI</button>
        </a>
      </td>
      <td>
 
          <a>
            <button class="custom-btn3 btn-1" type="submit">SI</button>
          </a>
        </form>
      </td>
      <td>
        <a href="{% url 'usuarios:editar_convocatoria' %}">
          <button class="custom-btn3 btn-1">SI</button>
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
</body>

</html>