{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historico de Convocatorias</title>
    <link rel="stylesheet" href="{% static 'app/css/tablas.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/button.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/cerrar_sesión.css' %}">
    <link rel="stylesheet" href="{% static 'app/estudiante/confirmar.js' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/f6bd73bd51.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">


</head>

<body class="background_all">

    <table id="tabla_convocatorias_Abiertas">
        <h1>Historico de Convocatorias</h1>
        <a href="{% url 'usuarios:coordinador' %}"> <button class="custom-btn4 btn-1 topright">Regresar</button> </a>
        <tr>
            <th>Nombre</th>
            <th>Fecha Inicial</th>
            <th>Fecha Final</th>
            <th>Cantidad Postulaciones</th>
            <th>Estado</th>


        </tr>
        {% for p in lista_historico_convocatorias %}
        <tr>
            <td>{{ p.nombre }}</td>
            <td>{{ p.fecha_inicial }}</td>
            <td>{{ p.fecha_final }}</td>
            <td></td>
            <td>Abierta</td>

        </tr>

        {% endfor %}
    </table>

</body>

</html>