{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Convocatorias Abiertas</title>
    <link rel="stylesheet" href="{% static 'app/css/tablas.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/button.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/cerrar_sesión.css' %}" />
    <link rel="stylesheet" href="{% static 'app/estudiante/confirmar.js' %}" />
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
  </head>

  <body class="background_all">
    <table id="tabla_convocatorias_Abiertas">
      <h1>LISTA DE CONVOCATORIAS ABIERTAS</h1>
      <a href="/estudiante/estudiante.html">
        <button class="custom-btn4 btn-1 topright">Regresar</button>
      </a>
      <tr>
        <th>Empresa</th>
        <th>Nombre de la Convocatoria</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
        <th>¿Desea Postularse?</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a
            href="/estudiante/convocatorias abiertas/confirmar_aplicación.html"
          >
            <button class="custom-btn3 btn-1">SI</button>
          </a>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a
            href="/estudiante/convocatorias abiertas/confirmar_aplicación.html"
          >
            <button class="custom-btn3 btn-1">SI</button>
          </a>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a
            href="/estudiante/convocatorias abiertas/confirmar_aplicación.html"
          >
            <button class="custom-btn3 btn-1">SI</button>
          </a>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a
            href="/estudiante/convocatorias abiertas/confirmar_aplicación.html"
          >
            <button class="custom-btn3 btn-1">SI</button>
          </a>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a
            href="/estudiante/convocatorias abiertas/confirmar_aplicación.html"
          >
            <button class="custom-btn3 btn-1">SI</button>
          </a>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a
            href="/estudiante/convocatorias abiertas/confirmar_aplicación.html"
          >
            <button class="custom-btn3 btn-1">SI</button>
          </a>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a
            href="/estudiante/convocatorias abiertas/confirmar_aplicación.html"
          >
            <button class="custom-btn3 btn-1">SI</button>
          </a>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a
            href="/estudiante/convocatorias abiertas/confirmar_aplicación.html"
          >
            <button class="custom-btn3 btn-1">SI</button>
          </a>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a
            href="/estudiante/convocatorias abiertas/confirmar_aplicación.html"
          >
            <button class="custom-btn3 btn-1">SI</button>
          </a>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a
            href="/estudiante/convocatorias abiertas/confirmar_aplicación.html"
          >
            <button class="custom-btn3 btn-1">SI</button>
          </a>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a
            href="/estudiante/convocatorias abiertas/confirmar_aplicación.html"
          >
            <button class="custom-btn3 btn-1">SI</button>
          </a>
        </td>
      </tr>
    </table>
  </body>
</html>
