html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.background_all {
  /*Background de toda la pantalla a gris*/
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.margen_izq {
  /*Margen izq y ancho de la primera columna a realizar (columna izquierda de información)*/
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}

.margen_arriba {
  /*Margen de separación hacia arriba*/
  margin-top: 16px !important;
}

.columna_derecha {
  float: left; /*Ubicación contenedor de información izq*/
  width: 100%;
  width: 33.33333%;
}

.background_contendores {
  color: #000 !important;
  background-color: #fff !important;
}

.sombreado_contenedores {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.posicion_nombre {
  position: relative; /*Posición del nombre estudiante*/
}

.padding_cotenedor {
  /*Espaciado externo. Distancia entre la columna y la información*/
  padding: 0.01em 16px;
}

.margen_derecha_iconos {
  /*Espaciado entre el icono y el texto*/
  margin-right: 16px !important;
}

.tamaño_icono {
  font-size: 18px !important;
}

.color_iconos {
  color: #2f80ed !important;
}

/*CSS PARA COLUMNA DERECHA FORTALEZAS Y HERRAMIENTAS*/

.margen_derecho {
  /*Espaciado que permite que la columna izq no interfiera con la derecha*/
  float: left;
  width: 100%;
  width: 66.66666%;
}

/*padding entre la columna izq y derecha*/

.padding > .margen_derecho {
  padding: 0 18px;
}
.padding::after,
.padding::before {
  content: "";
  display: table;
  clear: both;
}



.padding,
.padding > .w3-half,
.padding > .w3-third,
.padding > .margen_derecho,
.padding > .w3-threequarter,
.padding > .w3-quarter,
.padding > .w3-col {
  padding: 0 8px;
}

.tamaño_icono_grande {
  font-size: 36px !important;
}

.sombreado_contenedore_derecho {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.padding_titulo {
  /*Separación entre el titulo fortalezas y el top del cuadro derecho*/
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
