
.backLeft {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #132692 url(https://cdn.eso.org/images/screen/potw1108a.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

#slideBox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.topLayer {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%;
}
.right2 {
  width: 170%;
  height: 100%;
  background: #f9f9f9;
  right: 20;
  position: top;
}

.right {
  width: 70%;
  height: 100%;
  background: #0E304E;
  right: 0;
  position: absolute;
}



.content {
  width: 700px;
  margin: 0 auto;
  top: 10%;
  position: absolute;
  left: 50%;
  margin-left: -125px;
}

.content h2 {
  color: #03a9f4;
  font-weight: 300;
  font-size: 35px;
}

.content h1 {
  color: white;
  font-weight: 300;
  font-size: 38px;
}



