{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Crear Estudiante</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="{% static 'app/css/form.css' %}" />
  </head>

  <body>
    <!-- partial:index.partial.html -->
    <div class="wrapper">
      <form
        action="{% url 'usuarios:post_registro_estudiante' %}"
        method="post"
      >
        {% csrf_token %}
        <h1>Crear Estudiante</h1>
        <h5>
          En este formulario, usted como coordinador podrá realizar la creación
          de una cuenta estudiante
        </h5>

        <hr class="sep" />
        <div class="group">
          <input type="text" required="required" name="username" /><span
            class="highlight"
          ></span
          ><span class="bar"></span>
          <label>Username</label>
        </div>
        <div class="group">
          <input type="password" required="required" name="password" /><span
            class="highlight"
          ></span
          ><span class="bar"></span>
          <label>Password</label>
        </div>

        <div class="group">
          <input type="text" required="required" name="nombre_completo" /><span
            class="highlight"
          ></span
          ><span class="bar"></span>
          <label>Nombre Completo</label>
        </div>

        <div class="group">
          <input
            type="text"
            required="required"
            name="apellido_completo"
          /><span class="highlight"></span><span class="bar"></span>
          <label>Apellido Completo</label>
        </div>
        <div class="group">
          <input type="text" required="required" name="email" /><span
            class="highlight"
          ></span
          ><span class="bar"></span>
          <label>Email</label>
        </div>
        <div class="btn-box">
          <button class="btn btn-submit" type="submit">Crear</button>

          <a href="{% url 'usuarios:coordinador' %}"
            ><button class="btn btn-cancel" type="button">cancelar</button>
          </a>
        </div>
      </form>
    </div>
  </body>
</html>
