{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Actualizar Semestre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="{% static 'app/css/form.css' %}" />
  </head>

  <body>
    <!-- partial:index.partial.html -->
    <div class="wrapper">
      <form>
        <h1>Actualizar Semestre</h1>
        <h5>En este formulario, usted podra actualizar el semestre</h5>

        <hr class="sep" />
        <div class="group">
          <input type="text" required="required" /><span
            class="highlight"
          ></span
          ><span class="bar"></span>
          <label>Semestre</label>
        </div>

        <div class="btn-box">
          <a href="/coordinador/actualizar_semestre/confirmar_semestre.html"
            ><button class="btn btn-submit" type="submit">Actualizar</button>
          </a>

          <a href="{% url 'usuarios:coordinador' %}"
            ><button class="btn btn-cancel" type="button">Cancelar</button>
          </a>
        </div>
      </form>
    </div>
  </body>
</html>
