{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Estudiantes Registrados</title>
    <link rel="stylesheet" href="{% static 'app/css/tablas.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/button.css ' %}" />
    <link rel="stylesheet" href="{% static 'app/css/cerrar_sesión.css' %}" />
    <link rel="stylesheet" href="/estudiante/confirmar.js" />
    <link rel="stylesheet" "{% static 'app/css/style.css' %}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/f6bd73bd51.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="background_all">
    <table id="tabla_convocatorias_Abiertas">
      <h1>Lista de Estudiantes Registrados</h1>
      <a href="{% url 'usuarios:coordinador' %}">
        <button class="custom-btn4 btn-1 topright">Regresar</button>
      </a>

      <tr>
        <th>Nombre Completo</th>
        <th>Apellido Completo</th>
        <th>Email</th>
        <th>¿Estado en pasantias?</th>
        <th>¿Consultar Estudiante?</th>
      </tr>

      {% for p in lista_registro_estudiantes %}
      <tr>
        <td>{{ p.nombre_completo }}</td>
        <td>{{ p.apellido_completo }}</td>
        <td>{{ p.email }}</td>
        <td>
          <a href="/coordinador/lista estudiantes/perfil_estudiante_coor.html">
            <button class="custom-btn3 btn-1">SI</button>
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
