{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lista de Empresas Registradas</title>
  <link rel="stylesheet" href="{% static 'app/css/tablas.css' %}" />
  <link rel="stylesheet" href="{% static 'app/css/button.css' %}" />
  <link rel="stylesheet" href="{% static 'app/css/cerrar_sesión.css' %}" />
  <link rel="stylesheet" href="{% static 'app/estudiante/confirmar.js' %}" />
  <link rel="stylesheet" href="{% static 'app/css/style.css"' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://kit.fontawesome.com/f6bd73bd51.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
</head>

<body class="background_all">
  <table id="tabla_convocatorias_Abiertas">
    <h1>Datos de la Empresa</h1>
    <a href="{% url 'usuarios:coordinador' %}">
      <button class="custom-btn4 btn-1 topright">Regresar</button>
    </a>
    <tr>
      <th>Nombre</th>
      <th>Fecha de Creación</th>
      <th>Ciudad</th>
      <th>Nombre de Contacto</th>
      <th>Email</th>
      <th>¿Consultar Convocatorias?</th>
    </tr>

    <tr>
      {% for p in lista_registro_empresas %}
      <td>{{ p.username }}</td>
      <td></td>
      <td>{{ p.ciudad }}</td>
      <td>{{ p.nombre_contacto }}</td>
      <td>{{ p.email }}</td>
      {% endfor %}

      <td>
        <a <a href="{% url 'usuarios:lista_convocatorias_empresa' %}">
          <button type="submit" class="custom-btn3 btn-1">SI</button>
        </a>
      </td>
    </tr>
  </table>
</body>

</html>