{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista Convocatorias</title>
    <link rel="stylesheet" href="{% static 'app/css/tablas.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/button.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/cerrar_sesión.css' %}" />
    <link rel="stylesheet" href="{% static 'app/estudiante/confirmar.js' %}" />
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
  </head>

  <body class="background_all">
    <table id="tabla_convocatorias_Abiertas">
      <h1>Lista de Convocatorias Realizadas por la Empresa</h1>
      <a href="{% url 'usuarios:lista_empresas' %}">
        <button class="custom-btn4 btn-1 topright">Regresar</button>
      </a>
      <tr>
        <th>Nombre Convocatoria</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Cantidad Postulaciones</th>
        <th>Estado</th>
      </tr>
      {% comment %}
      <tr>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        {% endcomment %}
      </tr>
    </table>
  </body>
</html>
